mat-card {
  border: solid 1px rgba(255, 255, 255, .12);
}

mat-card-header {
  background: #303030;
}

mat-card-content{
  padding: 16px;
}

mat-progress-bar {
  height: 3px;
  opacity: 0.5;
}

.hover:hover {
  background: rgba(105, 240, 174, 0.2);
}

.card-list {
  height: 350px;
  overflow: scroll;
  overflow-x: hidden;
}

.card-list::-webkit-scrollbar {
  width: 4px;
  border-radius: 1px;
  margin: 8px 2px 8px 0;
}

.card-list::-webkit-scrollbar-track {
  border-radius: 1px;
  margin: 8px 0 8px 0;
}

.card-list::-webkit-scrollbar-thumb {
  background-color: #69f0ae;
  border-radius: 1px;
}

.mat-mdc-card-avatar {
  margin-bottom: 0;
}

.divider-header {
  background-color: #69f0ae;
}
