mat-card {
  border: solid 1px rgba(255, 255, 255, .12);
}
mat-card-header {
  background: #303030;
  padding: 16px 16px 16px 16px;
}

mat-card-content{
  padding: 16px;
}

mat-progress-bar {
  height: 3px;
  opacity: 0.5;
}
