<mat-card>
  <div>
    <mat-card-header>
      <h1>{{title}}</h1>
    </mat-card-header>


    <mat-card-content class="card-list">
      <form [formGroup]="form">
        <div *ngFor="let field of formFields ">
          <mat-form-field color="accent" fxFlex="50" *ngIf="field.type != 'img'">
            <mat-label>{{field.label}}</mat-label>
            <input matInput type="{{field.type}}" [formControlName]="field.name">
            <mat-error>dio-bono</mat-error>
          </mat-form-field>
        </div>
        <mat-divider></mat-divider>

      </form>
    </mat-card-content>
  </div>

</mat-card>
