//TODO implementare funzionalita per telefoni

@import "styles/mat-option";
@import "styles/wp";


html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
}
